section{
    height: 300px;
    width: 300px;
    border: 2px solid;
    display: grid;
    grid-template-areas: "box1 box2 "
                          "box1 box4 "
                          "box3 box4 ";
                         
}
.box1{
    grid-area: box1;
    background-color: red;
}
.box2{
    grid-area: box2;
    background-color: aqua;
}
.box3{
    grid-area: box3;
    background-color: orange;
}
.box4{
    grid-area: box4;
    background-color: pink
}