* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2596be;
  
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  
}

.logo {
  align-self: center;
}
.logo h1 {
  font-family: "Jost", sans-serif;
  margin-left: 80px;
  color: white;
}
.nav1 {
  align-self: center;
  margin-left: 20%;

}
.nav1 a {
  text-decoration: none;
  color: white;
  align-self: center;
  margin: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.nav1 a:hover{
    color: #5ea9c4;
}
.sect{
     width: 50%;
    margin:100px auto;
    display: flex;

  }
  .container1{
    height: 300px;
    width: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
   
  }
  .container1 h1{
    text-align: center;
    font-family: "Jost", sans-serif;
    text-decoration: underline;

  }
  .container1 p{
    font-family: "Jost", sans-serif;
    text-align:center; 
  
    
   
  }
  .container1 article{
    margin-top: 10px;
    text-align: left;
  }
  .container1:hover{
    /* box-shadow: 5px 5px 5px 5px  #6db9d4; */
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

  }

  .btn button{
    background-color: #2596be;
    margin: 25px 30px;
    padding: 5px;  
  }
  .btn button:hover{
    box-shadow: 5px 5px 5px 5px  #6db9d4;
  }
  .images{
    height: 300px;
    width: 400px;
    margin: 10px;
     gap: 5px;
    display: grid;
    grid-template-areas: "box1 box2 "
                          "box1 box4 "
                          "box3 box4 ";
                         
}
.images div {
  position: relative;
  overflow: hidden;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images:hover{
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
 
}
img:hover
{
    box-shadow: 5px 5px 5px 5px  #6db9d4; 
}

.box1{
    grid-area: box1;
    overflow:none;
   
}
.box2{
    grid-area: box2;
    
}
.box3{
    grid-area: box3;
   
}
.box4{
    grid-area: box4;
    
}