*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 400px;
    width: 400px;
      margin: 150px auto;
    

}

.continer{
    width: 400px;
    height: 250px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    background-color: #9B59B6;
}
.continaer2{
    background-color: #959395;
    width: 400px;
    height: 150px;
    position: absolute;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    animation: ball 5s cubic-bezier(0.38, 0, 1, 1) infinite;
}
@keyframes ball{
    0%{
        transform: translate(0px);
    }
    16.16%{
        transform:translate(100px ,195px);
        transition: all 5s 0s ease-out;
        box-shadow: -5px ,-5px ,5px,white;
    }
    32.32%{
           transform: translate(150px ,50px);
           transition: all 5s 0s ease-out;
           box-shadow: 5px -5px 5px white;
    }
    48.48%{
        transform: translate(250px ,195px);
        transition: all 5s 0s ease-out;
        box-shadow: -5px -5px 5px white;
    }
    100%{
        transform: translate(500px ,100px);
        
    }
}
